@model ConverseShop.Models.Product

@{
    ViewBag.Title = "Details";
}

<div class="row" style="padding:15px">
    <div class="col-md-12">
        <h2>Chi tiết sản phẩm</h2>
    </div>
    <div class="col-md-12">
        <div class="col-md-3">
            Ảnh
        </div>
        <div class="col-md-6">
            <table class="table table-bordered">
                <tr>
                    <td>
                        @Html.DisplayNameFor(model => model.ProID)
                    </td>

                    <td>
                        @Html.DisplayFor(model => model.ProID)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.DisplayNameFor(model => model.CatID)
                    </td>

                    <td>
                        @Html.DisplayFor(model => model.CatID)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.DisplayNameFor(model => model.ProName)
                    </td>

                    <td>
                        @Html.DisplayFor(model => model.ProName)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.DisplayNameFor(model => model.NameDecription)
                    </td>

                    <td>
                        @Html.DisplayFor(model => model.NameDecription)
                    </td>
                </tr>

                <tr>
                    <td>
                        @Html.DisplayNameFor(model => model.ProImage)
                    </td>

                    <td>
                        @Html.DisplayFor(model => model.ProImage)
                    </td>
                </tr>

                <tr>
                    <td>
                        @Html.DisplayNameFor(model => model.ProImageHover)
                    </td>

                    <td>
                        @Html.DisplayFor(model => model.ProImageHover)
                    </td>
                </tr>

                <tr>
                    <td>
                        @Html.DisplayNameFor(model => model.SoldQuantity)
                    </td>

                    <td>
                        @Html.DisplayFor(model => model.SoldQuantity)
                    </td>
                </tr>

                <tr>
                    <td>
                        @Html.DisplayNameFor(model => model.RemainQuantity)
                    </td>

                    <td>
                        @Html.DisplayFor(model => model.RemainQuantity)
                    </td>
                </tr>

                <tr>
                    <td>
                        @Html.DisplayNameFor(model => model.DISCOUNT)
                    </td>

                    <td>
                        @Html.DisplayFor(model => model.DISCOUNT)
                    </td>
                </tr>

                <tr>
                    <td>
                        @Html.DisplayNameFor(model => model.CreatedDate)
                    </td>

                    <td>
                        @Html.DisplayFor(model => model.CreatedDate)
                    </td>
                </tr>
            </table>

            <hr />
        </div>
        <div class="col-md-3">
            Chi tiết sản phẩm
            <hr />
            <table>
                <tr>
                    <th>
                        Tên hàng
                    </th>
                    <th>
                        Nhà cung cấp
                    </th>
                    <th>
                        Màu sắc
                    </th>
                    <th>
                        Số lượng
                    </th>
                    <th>
                        Kích thước
                    </th>
                    <th>
                        Hình dáng
                    </th>
                    <th>
                        Từ khóa
                    </th>
                    <th>
                        Giá
                    </th>
                    <th>
                        Hình 1
                    </th>
                    <th>
                        Hình 2
                    </th>
                    <th>
                        Hình 3
                    </th>
                    <th>
                        Hình 4
                    </th>
                    <th>
                        Hình 5
                    </th>

                </tr>
                @foreach(var item in new ConverseShop.Models.mapProDetail().DSChiTietSanPham(Model.ProID))
                {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ProID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SupID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ColorID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SIZE)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SHAPE)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.KEYWORD)
                </td>
                <td>
                    @string.Format("{0:#,0}", item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Image1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Image2)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Image3)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Image4)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Image5)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ })
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                </td>
            </tr>
                }
            </table>
            <p style="text-align:center">
                <a href="~/Products/DetailProduct?id=@Model.ProID">Xem chi tiết</a>
            </p>
        </div>
    </div>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
